body {
    background: rgba(230,177,34,0.27) url(parchment.jpg) repeat-y ;
}

h1 {
    color: #362508;
    font-family: 'Caesar Dressing', serif;

}

legend {
    color: #362508;
    font-family: 'Caesar Dressing', serif;
}

table {
    table-layout: fixed;
}

select {

}

option {

}

textarea {

}

input {
    box-sizing: border-box;
}

input label{
    display: inline;
}

table input {
    width: 100%;
    margin: 1vw;
}

table tr td {
    padding: 1vw;

}

caption {
    font-family: 'Caesar Dressing', serif;
}

fieldset#date {
    float: right;
    margin-top: -78px;
}

.clear {
    clear: both;
}

