body {
    background: rgba(230,177,34,0.27) url(parchment.jpg) repeat-y ;
}

h1 {
    color: #362508;
    font-family: 'Caesar Dressing', serif;

}

legend {
    color: #362508;
    font-family: 'Caesar Dressing', serif;
}

select {

}

option {

}

textarea {

}

input {

}

fieldset#date {
    float: right;
    margin-top: -78px;
}